* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1320px;
  margin: 0 auto;
  font-family: 'Cinzel', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
}

.img-fluid {
  max-width: 100%;
}

header {
  margin-top: 50px;
  position: relative;
  background-image: url('../images/Banner\ Image.png');
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  padding-bottom: 50px;
}

.hero-overlay {
  background-image: linear-gradient(to bottom, black, transparent);
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 16px;
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 180px 350px;
  text-align: center;
}

header h4 {
  margin-bottom: 18px;
  font-size: 32px;
}
header h1 {
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 90px;
  font-weight: 900;
}

.deals {
  padding: 70px 0 120px 0;
  font-family: Inter;
  text-align: center;
  text-transform: uppercase;
}

.deals h2 {
  color: #ff0000;
  font-size: 65px;
  margin-bottom: 48px;
}
.deals h4 {
  color: #ff0000;
  font-size: 24px;
  margin-bottom: 16px;
}
.deals h3 {
  color: #070211;
  font-size: 48px;
  margin-bottom: 48px;
}

.midnight-party {
  background-image: url('../images/Vectorrr.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 120px 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.party-content {
  position: relative;
  color: #fff;
  padding: 125px 0px;
  z-index: 1;
}

.midnight-party h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 25px;
}
.midnight-party p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 50px;
}

.midnight-party button {
  background: transparent;
  border: 0;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.join {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  text-align: center;
  padding: 120px 0;
}

.join-content > p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.join-content > p > span {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.join-content button {
  margin-top: 60px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  border-radius: 10px;
  background-color: #f00;
}

.portfolio {
  padding: 120px 0;
}

.red-heading {
  color: #ff0000;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.black-heading {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.text-content {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 45px;
}

.portfolio-imgs {
  display: flex;
  gap: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.news-letter {
  padding: 80px 180px;
  background: rgba(255, 0, 0, 0.05);
  border: 0;
  border-radius: 16px;
  text-align: center;
}
.news-letter img {
  margin-bottom: 40px;
}

.news-letter form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-letter form input {
  width: 50%;
  padding: 25px;
  border: 0;
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.news-letter form button {
  padding: 24px;
  border: 0;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #f00;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
}

footer {
  margin-top: 120px;
  padding: 120px 140px;
  background: #070211;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
}

footer .contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.phone-website {
  display: flex;
  gap: 15px;
}
.phone-website li {
  list-style: none;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
